<div class="jumbotron jumbtron-fluid">
  <h3 class="display-4 text-center">
    Biblioteca App
  </h3>
  <div class="container text-center navbar navbar-expand-lg navbar-light bg-light">
      <div class="col-sm-8 offset-sm-2">
          <a routerLink="/" class="nav-item active navbar-brand">Libros</a>
          <a routerLink="/categorias" class="navbar-brand">Categorias</a>
          <a routerLink="/autores" class="navbar-brand">Autores</a>
        </div>
  </div>

  <div class="container">
    
    <div class="row">
      <div class="col-md-12">
        <hr>
        <router-outlet></router-outlet>        
      </div>
    </div>
  </div>
</div>